@import url('https://fonts.googleapis.com/css?family=Muli|Amatic+SC:700|Indie+Flower');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css');

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: url('./img/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Muli', sans-serif;
  text-align: center;
  min-height: 1000px;
  max-width: 1000px;
}

#root {
  margin-top: 50px;
  position: relative;
  height: 900px;
  max-height: 3000px;
  overflow: hidden;
}

.card {
  background-color: #fcb315;
  background-size: cover;
  box-shadow: 0px 0px 5px snow;
  position: absolute;
  height: 500px;
  width: 368px;
  margin: -8em auto;
  border-radius: 10px;
}

.animate {
  transition: transform .3s;
}

/* .alert {
  width: 45%;
  height: 10%;
  position: absolute;
  top: 0;
  z-index: 9999;
  opacity: 0;
  transition: opacity .5s;
  color: white;
  vertical-align: middle;
  line-height: 3rem;
} */

.logo {
  font-family: 'Amatic SC', cursive;
  text-decoration: none;
  font-size: 6em;
  color: snow;
  margin-right: 1em;
  background-color:#fcb315;
  border-radius: 7px;
  padding: 0 30px;
}

.main-btn {
  text-decoration: none;
  color: snow;
  font-size: 1.2em;
  margin-right: 2em;
  padding: 8px 10px;
  border-style: solid;
  border-radius: 10px;
  background-color: #fcb315;
  border-color: #fcb315;
  box-shadow: 0px 0px 20px snow;
}

.food-name {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  color: snow;
  position: absolute;
  width: 100%;
  bottom: 2em;
}

.matchoverlay {
  width: 50%;
  height: 65%;
  margin-left: 25%;
  margin-top: 2em;
  background-color: #fcb315;
  color: white;
  z-index: 20;
  position: absolute;
  border-radius: 20px;
  opacity: 0.97;
}

.matchoverlay-content{
  background-color: transparent;
}

.match-title {
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.is-info {
  margin-right: 2em;
}

.match-buttons {
  margin-top: 4em;
}

.philip-profile-pic {
  width: 40%;
  height: 40%;
}

.eren-profile-pic {
  width: 10%;
  height: 10%;
}

.jerry-match-profile-pic {
  width: 10%;
  height: 10%;
}

.philip-match-profile-pic {
  width: 10%;
  height: 10%;
}

.matches-container {
  background-color: snow;
  box-shadow: 0px 0px 10px snow;
  border-radius: 10px;
  margin-top: 1em;
  max-height: 2000px;
}

.matches-des {
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
  width: 80%;
  padding-bottom: 1em;
}

.matches-name {
  font-size: 1.5em;
}

.matches-profile {
  padding-top: 2em;
}

.matches-content {
  margin-top: 2em;
  margin-bottom: 2em;
}

.rec-container {
  background-color: snow;
  margin-top: 2em;
}

.rec-grid {
  display: inline-block;
  width: 50%;
  margin-top: 1em;
  margin-bottom: 2em;
}

.res-title {
  text-decoration: none;
  color: #fcb315;
  font-size: 2em;
  font-style: bold;
}
