@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-image: url('./img/background.jpeg');
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  min-height: 1000px;
  max-width: 1000px;
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 5em;
  margin-right: 1em;
}

/* @media (min-width: 801px) {
  body {
      border: 1px solid black;
  }
} */

img {
  width: 100%;
}

li {
  list-style: none;
}

#root {
  margin-top: 50px;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 900px;
  overflow: hidden;
}

.card {
  background-color: black;
  background-size: cover;
  box-shadow: 0px 0px 5px black;
  position: absolute;
  height: 540px;
  width: 368px;
  margin: 0 auto;
  border-radius: 3px;
}

.animate {
  transition: transform .3s;
}

.alert {
  width: 45%;
  height: 10%;
  position: absolute;
  top: 0;
  z-index: 9999;
  opacity: 0;
  transition: opacity .5s;
  color: white;
  vertical-align: middle;
  line-height: 3rem;
}

.alert-visible {
  opacity: 1;
}

.alert-right {
  right: 0;
  background: red;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-top: 200px;
}

.alert-left {
  left: 0;
  background: orange;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-top: 200px;
}

.logo {
  text-decoration: none;
  font-size: 7em;
  color: snow;
  margin-right: 1em;
}

.main-btn {
  text-decoration: none;
  color: snow;
  font-size: 1em;
  margin-right: 2em;
  padding: 10px;
  border-style: solid;
  border-color: snow;
}
